<a href="https://colab.research.google.com/github/dlave002/CSC221_dlave002/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Cell 1: Demonstrate int, float, and string


a = 'helloworld'
b = 1
c = 1.2

print(f"a value is {a} and type is {type(a)}")
print(f"b value is {b} and type is {type(b)}")
print(f"c value is {c} and type is {type(c)}")

a value is helloworld and type is <class 'str'>
b value is 1 and type is <class 'int'>
c value is 1.2 and type is <class 'float'>

In [ ]:
# Cell 2: Show how an f-string works (f'Something like this with {something} in it.')

a = 'helloworld'
print(f"example of f-string is {a}")

In [ ]:
# Cell 3: Demonstrate some methods of the string class

example_string = "Hello, Python!"

# Example methods
print(example_string.upper())
print(example_string.lower())
print(example_string.startswith("Hello"))
print(example_string.endswith("Python!"))
print(example_string.replace("Python", "World"))

In [ ]:
# Do something with a list
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
my_list.remove(3)

print(my_list)

In [ ]:
# Do something with a list of lists
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_of_lists.append([1,2,4])
print(list_of_lists[1][2])
print(list_of_lists)

6
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 4]]

In [ ]:
# Show how to print a list in sorted order without changing it
original_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = sorted(original_list)

print("Original list:", original_list)
print("Sorted list:", sorted_list)

Original list: [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
Sorted list: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [ ]:
# Printing a series of numbers using for and range
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [ ]:
def sieve_of_eratosthenes(limit):
    primes = []
    sieve = [True] * (limit + 1)
    for num in range(2, int(limit**0.5) + 1):
        if sieve[num]:
            primes.append(num)
            for multiple in range(num**2, limit + 1, num):
                sieve[multiple] = False
    for num in range(int(limit**0.5) + 1, limit + 1):
        if sieve[num]:
            primes.append(num)
    return primes

all_primes = sieve_of_eratosthenes(1000)
print(all_primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
def my_prime_generator(N):
    primes = sieve_of_eratosthenes(N**2)
    for prime in primes[:N]:
        yield prime

for x in my_prime_generator(200):
    print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223

In [ ]:
#Cell 11: Generate 1000 random integers in a list (random.randint(...)) and print their min, max, sum, and average.

import random
random_integers = [random.randint(1,1000) for i in range (1000)]

print("Min:", min(random_integers))
print("Max:", max(random_integers))
print("Sum:", sum(random_integers))
print("Average:", sum(random_integers) / len(random_integers))

In [ ]:
# Cell 12: Write a simple function that uses if, elif, and else and show that it works.

def classify_number(number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

result = classify_number(-5)
print(result)

In [ ]:
#Cell 14: Create a file using %%file testfile.txt in Colab.
%%file testfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

In [ ]:
# Cell 15: Read that file in and convert it to a dictionary. Show how you can lookup pet type by using pet name with your dictionary.


pet_dict = {}

with open("testfile.txt", "r") as file:
    for line in file:
        name, pet_type = line.strip().split(", ")
        pet_dict[name] = pet_type

print(pet_dict)

In [ ]:
# Cell 16: Generate a list of all the unique pet types in the dictionary. Use a set to make this happen.

unique_pet_types = set(pet_dict.values())
print(list(unique_pet_types))

In [ ]:
# Cell 17: Use a while loop to print the numbers from 80 down to 16 by 8. Do not use for or range.

# Use a while loop to print numbers
num = 80
while num >= 16:
    print(num)
    num -= 8

In [ ]:
#Cell 18: Write a function that takes three numbers and returns their min, max, and sum as a tuple.

def min_max_sum_tuple(a, b, c):
    return min(a, b, c), max(a, b, c), a + b + c

result_tuple = min_max_sum_tuple(5, 10, 3)
print(result_tuple)

(3, 10, 18)

In [ ]:
# Cell 19: Write a function that takes any number of numbers and returns their min, max, and sum as a tuple.
def min_max_sum_tuple_varargs(*numbers):
    return min(numbers), max(numbers), sum(numbers)

result_varargs = min_max_sum_tuple_varargs(5, 10, 3, 8)
print(result_varargs)

In [ ]:
# Cell 20: Create a decorator called traceroo and use it to print messages showing how your function above executes.


def traceroo(func):
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with args {args} and kwargs {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} returned {result}")
        return result
    return wrapper

@traceroo
def min_max_sum_tuple_varargs(*numbers):
    return min(numbers), max(numbers), sum(numbers)

result_decorated = min_max_sum_tuple_varargs(5, 10, 3, 8)
print(result_decorated)

Calling min_max_sum_tuple_varargs with args (5, 10, 3, 8) and kwargs {}
min_max_sum_tuple_varargs returned (3, 10, 26)
(3, 10, 26)

In [ ]:
# Cell 21: Create a class that uses __init__, __repr__, __str__, and __add__. Demonstrate that all of the methods work.

class MyClass:
    def __init__(self, value):
        self.value = value

    def __repr__(self):
        return f'MyClass({self.value})'

    def __str__(self):
        return f'This is an instance of MyClass with value: {self.value}'

    def __add__(self, other):
        if isinstance(other, MyClass):
            return MyClass(self.value + other.value)
        elif isinstance(other, int):
            return MyClass(self.value + other)

# Demonstrate methods
obj1 = MyClass(5)
obj2 = MyClass(10)

print(repr(obj1))
print(str(obj1))
print(repr(obj2))
print(str(obj2))

result_add = obj1 + obj2
print(result_add)

MyClass(5)
This is an instance of MyClass with value: 5
MyClass(10)
This is an instance of MyClass with value: 10
This is an instance of MyClass with value: 15

In [ ]:
# Is your birth date included in the digits of pi? Where? Feel free to use the code from Chapter 10.

import math

def is_pi_in_date(date):
    # Get the first 10 digits of pi (adjust as needed)
    pi_digits = str(math.pi)[2:12]

    # Convert the date to a string for comparison
    date_str = str(date)

    # Check if any part of the date string contains the first 10 digits of pi
    return pi_digits in date_str

# Test with a date
birth_date = 3141592653  # For example, March 14, 1592
result = is_pi_in_date(birth_date)

if result:
    print("The digits of pi are included in the date!")
else:
    print("The digits of pi are not included in the date.")

The digits of pi are not included in the date.